form[name='pg-search'] input[type='submit'] {
	height: 28px;
	padding: 0 15px;
	background: #494646 !important;
	border: 1px solid #494646;
	color: #fff !important;
	font-size: 13px;
	font-weight: bold;
	outline: none;
	text-decoration: none;
	text-align: center;
}

form[name='pg-search'] input[name='search_query'] {
	max-width: 100px;
	height: 26px;
	margin-right: 10px;
	webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;
  	outline: none;
  	border-radius: 0;
  	border: 1px solid #a3a19c;
  	color: #494646; 
  	padding: 0 10px;
  	display: inline-block;
}

form[name='pg-search'] input[name='search_query']:focus{
	-webkit-box-shadow: 0px 0px 5px 0px rgba(113, 113, 113, 1);
  	-moz-box-shadow: 0px 0px 5px 0px rgba(113, 113, 113, 1);
  	box-shadow: 0px 0px 5px 0px rgba(113, 113, 113, 1);
}
ul.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
    border-radius: 0 0 3px 3px;
    border-top: 0 none;
    box-shadow: 0 3px 3px #a3a19c;
    margin-top: 4px;
}
.ui-menu {
    display: block;
    float: left;
    list-style: outside none none;
    margin: -3px 0 0;
    padding: 0;
}
.ui-autocomplete {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: white;
    border-color: #eee #ddd #ddd #eee;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    font-family: sans-serif;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    z-index: 50;
}
ul, ol {
    margin: 0 0 9px 25px;
    padding: 0;
}
ul {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
}
li {
    line-height: 18px;
}
.ui-menu .ui-menu-item a {
    border-top: 1px solid #e2e2e2;
    color: #7a7a7a;
    font-size: 14px;
    padding: 8px 20px;
}
.ui-menu .ui-menu-item a {
    display: block;
    font-weight: bold;
    line-height: 1.5;
    text-decoration: none;
}